<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>


 
 <%= @track.id%>. "<%= @track.title%>"  


<form method="post" action="/tracks/<%=@track.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Track">
</form> 
<a href="/tracks/<%=@track.id%>/edit"><br>Edit Track </a>
<a href="/tracks"><br> Back to Track List </a>
 