
<h2><p> Welcome <%= current_artist.artist_name %></p></h2> 
<h3> Your Tracks: </h3>
<ul>
<% current_artist.tracks.each do |track|%>
  <li><a href="tracks/<%= track.id%>"><%= track.title%></a></li>
  <%end%>
</ul>

<h3> Your mixes: </h3>
<ul>
<% current_artist.mixes.each do |mix|%>
  <li><a href="mixes/<%= mix.id%>"><%= mix.title%></a></li>
  <%end%>
</ul>
