
<h2><p> Welcome <%= user.username %></p></h2> 
<h3> Your Tracks: </h3>
<ul>
<% @user.tracks.each do |track|%>
  <li><a href="tracks/<%= track.slug%>"><%= track.title%></a></li>
  <%end%>
</ul>

<h3> Your mixes: </h3>
<ul>
<% @user.mixes.each do |mix|%>
  <li><a href="mixes/<%= mix.slug%>"><%= mix.title%></a></li>
  <%end%>
</ul>
